@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root{
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --color-primary: rgb(24, 24, 24);
  --color-primary-variant: rgba(51, 51, 51, 0.5);
  --color-secondary: rgb(56, 56, 56);
  --color-hover: rgba(255, 255, 255, 0.5);
  --color-font-primary: rgba(255, 236, 196, 0.9);
  --color-font-secondary: rgba(255, 249, 236, 0.9);

  --transition: all 500ms  ease;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  line-height: 1.7;
  overflow-x: hidden;
  background: rgb(24, 24, 24);
}

.container {
  width: var(--container-width-lg);
  max-width: 1920px;
  margin-inline: auto;
}

h1,h2,h3,h4,h5{
  line-height: 1.2;
  color: rgba(255, 236, 196, 0.9);
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}
a{
  color: #fff;
}
img{
  display: block;
  object-fit: cover;
  width: 100%;
}
.btn{
  color: var(--color-font-primary);
  width: fit-content;
  margin: 0 auto;
  padding: 0.9rem 2rem;
  background: var(--color-secondary);
  border-radius: 1.5rem;
  transition: var(--transition);
}
.btn:hover{
  background: var(--color-font-primary);
  color: var(--color-primary);
}
.btn.lg {
  padding: 1.2rem 3rem;
  border-radius: 2rem;
  font-size: 1.1rem;
}

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

@media screen and (max-width: 600px) {

}